*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    width: 80%;
    max-width: 400px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 10px 0;
}

.options input {
    margin-right: 10px;
}
